body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    height: 20vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url('https://www.infoescola.com/wp-content/uploads/2008/04/galaxia-andromeda.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header h1 {
    margin: 0;
    text-align: left;
    color: white;
    font-size: 12px; 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #a79b9b;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #a79b9b;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(167, 155, 155, 0); 
    color: #fff;
}
.col-1, .col-2 {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    float: right;
    vertical-align: top;
}
.container {
    margin: 10px 10%;

}

.texto-centro {
    text-align: center;
}

.container .texto-centro h2 {
    margin: 0px;
}

.nav1 {
    text-align: left;
    color: black;   
}

.nav2 {
    text-align: right;
    color: black;       
}   

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}

.nav1, .nav2 {
    display: flex;
}

.nav1 span, .nav2 span {
    margin: 6px 0;
    padding: 6px;
}

.busca {
    width: 90vw;
    
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    height: 45vh;
}

.card-titulo {
    border-bottom: 1px solid rgb(204, 196, 196);
}
.card-titulo h3 {
    margin: 0px 10px;
    padding: 10px 20px;
}

.card-content{
    margin: 0px 10px;
    padding: 3px 20px;
}
.news {
    background-color: #0598405d;
    border-radius: 5px;
    box-shadow: #a79b9b;
    padding: 5px;

}
.flex {
    display: flex;
    justify-content:space-between;
    padding: 5px 35px;
}
p1 {
    text-align: left;   
}
p2 {
    text-align: right;
}
