@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap" rel="stylesheet">');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Trispace', sans-serif;
    background-color: white;
    border-radius: 15px;
}

.cabeçalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px;
    padding-top: 0%;
    padding-right: 24px;
}

.menu-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 2%;
    padding-top: 0%;
    padding-right: 24px;
}

.card {
    font-size: 10px;
}

.login  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #d9d9d96e;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    width: max-content;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    width: max-content;
}

.card-footer {
    border: 1px solid #D0D5DD;
    width: 100%;
    border-radius:15px;
    padding: 10px;
}

.card-name {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.last-name {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.card-username {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.card-email {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.card-password {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.card-confirm-password {
    border: 1px solid #D0D5DD;
    width: 327px;
    border-radius:15px;
    padding: 10px;
}

.submit {
    background: #4AAB29;
    background-size: 150px;
    width: 327px;
    height: 39px;
    border-radius:15px;
    border: #4AAB29;
    margin: 7%;
    font-size: 15px;
    font-weight: bold;
    color: #D9D9D9;
    padding: 10px;
    padding-inline: 113px;
}

.newsolutions {
    font-size: 16px;
    color: black;
    background-color: white;
    border: 1px solid #D0D5DD;
    border-radius: 15px;
    padding: 16px;
    padding-left: 45px;
    margin: 11px;
    width: 371px;
    height: 49px;
}

.corAzul {
    color: #1790FF;
    font-weight: lighter;
}

.corCinza {
    color: black;
    font-weight: lighter;
}