@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap" rel="stylesheet">');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Trispace', sans-serif;
}

.main header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.image-soon {
    height: 72px;
}

.menu {
    display: flex;
    gap: 32px;
    background-color: #ffffff;
}

.menu-item {
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: 14px;
    padding: 10px;
}

.menu-item-1 {
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: 14px;
    padding: 10px;
}

.menu-item-2 {
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: 14px;
    background-color: #D0D5DD;
    border-radius: 15px;
    padding: 10px;

}

.content {
    background-image: url('constelação.jpg.avif');
}

.content-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.content-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 100%;
}

.content-principal-1 {
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    margin: auto;
}

.content-principal-2 {
    font-weight: 400;
    font-size: 20px;
    color: #FFF2E7;
    width: 50%;
    margin: auto;
}

.content-principal-3 {
    font-weight: 400;
    font-size: 20px;
    color: #74E37F;
    margin: auto;
}

.content-image {
    height: 430px;
}

.content-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.white-pannel {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 700px;
    margin: 25px;
    padding: 24px;
}

.aberturaocorrencias {
    border-top: 0.4px solid #FFF2E7;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 20px;
}

.gerenciamento {
    border-top: 0.4px solid #FFF2E7;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin: 20px;
}

.imagem-abertura {
    height: 300px;
}

.imagem-gerenciamento {
    height: 300px;
}

.rodape {
    padding: 32px;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 20px;
}
